@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');

$White: hsl(0, 0%, 100%);
$Cyan: hsl(178, 100%, 50%);
$Cyan_overlay: hsla(178, 100%, 50%, 0.4);
$Very_Dark_Blue_mainBG: hsl(217, 54%, 11%);
$Very_Dark_Blue_cardBG: hsl(216, 50%, 16%);
$Very_Dark_Blue_line: hsl(215, 32%, 27%);
$Soft_Blue: hsl(215, 51%, 70%);

// font-family: 'Outfit', sans-serif;